@page "/about"
@using PersonalFitnessApp.Components.Layout
@layout NullLayout
<PageTitle>About Us</PageTitle>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

</style>
<body>

    <main style="text-align:center">
        <h1>About Us</h1>
        <img src="https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg" width="500" height="333">
        <p>Welcome to ABC Fitness! At ABC Fitness, we believe in empowering every individual to live their healthiest, happiest life. Founded with the mission to make fitness accessible, engaging, and personalized, we've created a fitness experience that works for everyone, no matter where they are in their fitness journey.</p>

        <p>From our state-of-the-art gym facilities to our newly launched fitness training app, we are dedicated to providing tools that help you succeed—whether you're lifting weights in the gym or working out from the comfort of your home. Our app brings the same expert guidance, personalized plans, and motivating community right to your fingertips.</p>

        <p>Whether you're looking for strength training, cardio, yoga, or just need help staying consistent, ABC Fitness has everything you need to stay on track and reach your goals. Join us in creating a healthier, stronger you, and let ABC Fitness help you make fitness a part of your lifestyle.</p>

        <p>Come see what makes us different – because at ABC Fitness, we’re not just about the workout. We’re about your journey.</p>
        <footer>
            <p style="color:gray">&copy; 2025 ABC Fitness. All Rights Reserved.</p>
        </footer>
    </main>
</body>
