@page "/foodtrackings/create"
@using Microsoft.EntityFrameworkCore
@using PersonalFitnessApp.Domain
@using PersonalFitnessApp.Data
@inject PersonalFitnessAppContext DbContext
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>FoodTracking</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="FoodTracking" OnValidSubmit="AddFoodTracking" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="date" class="form-label">Date:</label> 
                <InputDate id="date" @bind-Value="FoodTracking.Date" class="form-control" /> 
                <ValidationMessage For="() => FoodTracking.Date" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label> 
                <InputText id="userid" @bind-Value="FoodTracking.UserId" class="form-control" /> 
                <ValidationMessage For="() => FoodTracking.UserId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/foodtrackings">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private FoodTracking FoodTracking { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddFoodTracking()
    {
        var context = DbContext;
        context.FoodTracking.Add(FoodTracking);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/foodtrackings");
    }
}
