@page "/foodtrackings/details"
@using Microsoft.EntityFrameworkCore
@using PersonalFitnessApp.Domain
@using PersonalFitnessApp.Data
@inject PersonalFitnessAppContext DbContext
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>FoodTracking</h2>
    <hr />
    @if (foodtracking is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@foodtracking.Date</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@foodtracking.UserId</dd>
        </dl>
        <div>
            <a href="@($"/foodtrackings/edit?id={foodtracking.Id}")">Edit</a> |
            <a href="@($"/foodtrackings")">Back to List</a>
        </div>
    }
</div>

@code {
    private FoodTracking? foodtracking;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var context = DbContext;
        foodtracking = await context.FoodTracking.FirstOrDefaultAsync(m => m.Id == Id);

        if (foodtracking is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
