@page "/foodtrackings/edit"
@using Microsoft.EntityFrameworkCore
@using PersonalFitnessApp.Domain
@using PersonalFitnessApp.Data
@inject PersonalFitnessAppContext DbContext
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>FoodTracking</h2>
<hr />
@if (FoodTracking is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="FoodTracking" OnValidSubmit="UpdateFoodTracking" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="FoodTracking.Id" value="@FoodTracking.Id" />
                <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <InputDate id="date" @bind-Value="FoodTracking.Date" class="form-control" />
                    <ValidationMessage For="() => FoodTracking.Date" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputText id="userid" @bind-Value="FoodTracking.UserId" class="form-control" />
                    <ValidationMessage For="() => FoodTracking.UserId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/foodtrackings">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private FoodTracking? FoodTracking { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var context = DbContext;
        FoodTracking ??= await context.FoodTracking.FirstOrDefaultAsync(m => m.Id == Id);

        if (FoodTracking is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateFoodTracking()
    {
        var context = DbContext;
        context.Attach(FoodTracking!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!FoodTrackingExists(FoodTracking!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/foodtrackings");
    }

    private bool FoodTrackingExists(int id)
    {
        var context = DbContext;
        return context.FoodTracking.Any(e => e.Id == id);
    }
}
