@page "/foodtrackings"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using PersonalFitnessApp.Domain
@using PersonalFitnessApp.Data
@implements IAsyncDisposable
@inject PersonalFitnessAppContext DbContext

<PageTitle>Index</PageTitle>
 
<h1>Index</h1>

<p>
    <a href="foodtrackings/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.FoodTracking">
    <PropertyColumn Property="foodtracking => foodtracking.Date" />
    <PropertyColumn Property="foodtracking => foodtracking.UserId" />

    <TemplateColumn Context="foodtracking">
        <a href="@($"foodtrackings/edit?id={foodtracking.Id}")">Edit</a> |
        <a href="@($"foodtrackings/details?id={foodtracking.Id}")">Details</a> |
        <a href="@($"foodtrackings/delete?id={foodtracking.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private PersonalFitnessAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbContext;
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
