@page "/bookings/delete"
@using Microsoft.EntityFrameworkCore
@using PersonalFitnessApp.Data
@using PersonalFitnessApp.Domain
@inject PersonalFitnessAppContext DbContext
@inject NavigationManager NavigationManager

<PageTitle>Cancel Booking</PageTitle>

<h1>Cancel Booking</h1>

<p>Are you sure you want to cancel booking?</p>
<div>
    <h2>Booking</h2>
    <hr />
    @if (booking is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@booking.Date</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@booking.Status</dd>
        </dl>
        <EditForm method="post" Model="booking" OnValidSubmit="DeleteBooking" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(booking is null)">Cancel</button> |
            <a href="/bookings">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Booking? booking;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var context = DbContext;
        booking = await context.Booking.FirstOrDefaultAsync(m => m.Id == Id);

        if (booking is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteBooking()
    {
        var context = DbContext;
        booking.Status = "Cancelled";
        context.Attach(booking!).State = EntityState.Modified;
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/bookings");
    }
}
