@page "/lessons"

<PageTitle>Lessons</PageTitle>
<h1>Video Lessons</h1>
<iframe width="300" height="315"
		src="https://www.youtube.com/embed/VWj8ZxCxrYk">
</iframe>
<iframe width="300" height="315"
		src="https://www.youtube.com/embed/qULTwquOuT4">
</iframe>
<iframe width="300" height="315"
		src="https://www.youtube.com/embed/tj0o8aH9vJw">
</iframe>