@page "/trackingitems"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using PersonalFitnessApp.Domain
@using PersonalFitnessApp.Data
@implements IAsyncDisposable
@inject PersonalFitnessAppContext DbContext

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="trackingitems/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.TrackingItem">
    <PropertyColumn Property="trackingitem => trackingitem.FoodQty" />
    <PropertyColumn Property="trackingitem => trackingitem.FoodTrackingId" />
    <PropertyColumn Property="trackingitem => trackingitem.FoodItemId" />

    <TemplateColumn Context="trackingitem">
        <a href="@($"trackingitems/edit?id={trackingitem.Id}")">Edit</a> |
        <a href="@($"trackingitems/details?id={trackingitem.Id}")">Details</a> |
        <a href="@($"trackingitems/delete?id={trackingitem.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private PersonalFitnessAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbContext;
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
