@page "/bookings/edit"
@using Microsoft.EntityFrameworkCore
@using PersonalFitnessApp.Domain
@using PersonalFitnessApp.Data
@inject PersonalFitnessAppContext DbContext
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #000;
        color: #fff;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #FFD700;
        font-size: 2.5rem;
        margin: 20px 0;
    }

    h2 {
        text-align: center;
        color: #FFD700;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .form-label {
        color: #FFD700;
    }

    .form-control {
        background-color: #222;
        border: 1px solid #FFD700;
        color: #FFD700;
    }

        .form-control:focus {
            background-color: #333;
            border-color: #FFD700;
            color: #FFD700;
        }

    .mb-3 {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: transparent;
        color: #FFD700;
        border: 2px solid #FFD700;
        border-radius: 5px;
        font-weight: bold;
        font-size: 0.5rem;
        padding: 5px 20px;
        transition: background-color 0.3s ease, color 0.3s ease;
        width: 100%;
        height: 50;
        text-align: center;
    }

        .btn-primary:hover {
            background-color: #FFD700;
            color: #000;
        }

    .text-danger {
        color: #FF0000;
    }

    .row {
        margin-top: 20px;
    }

    .col-md-4 {
        max-width: 500px;
        margin: 0 auto;
    }

        .col-md-4 input {
            width: 100%;
        }

    .btn-container {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 20px;
    }

        .btn-container a, .btn-container button {
            padding: 5px 25px;
            background-color: transparent;
            color: #FFD700;
            border: 2px solid #FFD700;
            border-radius: 5px;
            font-weight: bold;
            font-size: 1.1rem;
            text-decoration: none;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

            .btn-container a:hover, .btn-container button:hover {
                background-color: #FFD700;
                color: #000;
            }


    button[type="submit"] {
        display: inline-block;
    }


</style>

<h1>Edit</h1>

<h2>Booking</h2>
<hr />
@if (Booking is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Booking" FormName="f" OnValidSubmit="UpdateBooking">
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <input type="hidden" name="Booking.Id" value="@Booking.Id" />
                <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <InputDate id="date" @bind-Value="Booking.Date" class="form-control" />
                    <ValidationMessage For="() => Booking.Date" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status:</label>
                    <InputText id="status" @bind-Value="Booking.Status" class="form-control" />
                    <ValidationMessage For="() => Booking.Status" class="text-danger" />
                </div>
                <input type="hidden" name="Booking.UserId" value=@Booking.UserId />
                <div class="btn-container">
                    <button type="submit" class="btn-primary">Save</button>
                    <a href="/bookings" class="btn-primary">Back to List</a>
                </div>
            </EditForm>
        </div>
    </div>

}

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Booking? Booking { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var context = DbContext;
        Booking ??= await context.Booking.FirstOrDefaultAsync(m => m.Id == Id);

        if (Booking is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateBooking()
    {
        var context = DbContext;
        context.Attach(Booking!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!BookingExists(Booking!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/bookings");
    }

    private bool BookingExists(int id)
    {
        var context = DbContext;
        return context.Booking.Any(e => e.Id == id);
    }
}
