@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<AuthorizeView>
<header class="header">
    <a href="/Homepage" class="logo">
        <img src="https://i.imgur.com/Yd7V4RC.png" width="50" height="50">
        <p class="text">Home</p>
    </a>

    @if (CurrentPage == "https://localhost:7090/homepage")
    {
        <div class="logout-container">
            <form action="Account/Logout" method="post" class="logout-form">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="" />
                <button type="submit" class="logout-btn">
                    <img src="https://i.imgur.com/oZWfnXs.png" width="50" height="50">
                    <span class="text">Logout</span>
                </button>
            </form>
        </div>
    }
</header>
</AuthorizeView>
<div class="page">
    <main class="content">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    .page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 20px;
        background-color: #000;
        position: relative;
        z-index: 1;
    }

        .header .logo {
            border-radius: 5px;
            border: 2px solid #FFD700;
            display: flex;
            padding: 5px 10px;
            align-items: center;
            text-decoration: none;
        }

            .header .logo img {
                max-height: 50px;
                cursor: pointer;
                transition: transform 0.3s ease;
            }

            .header .logo:hover {
                transform: scale(1.1);
            }

            .header .logo .text {
                margin-top: 20px;
                margin-left: 10px;
                font-size: 20px;
                color: #FFD700;
            }

    .logout-container {
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logout-form {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 5px;
    }

    .logout-btn {
        background: none;
        border: 2px solid #FFD700;
        color: #FFD700;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 80px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

        .logout-btn img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .logout-btn .text {
            margin-left: 10px;
            font-size: 20px;
        }

        .logout-btn:hover {
            color: #FFF;
            background-color: #FFD700;
            border-color: #FFD700;
        }

        .logout-btn:focus {
            outline: none;
        }

</style>

@code {
    private string CurrentPage;

    protected override void OnInitialized()
    {
        CurrentPage = NavigationManager.Uri.ToLower();
    }
}
